<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchemesForYou</title>
    <link rel="stylesheet" href="../static/index.css">    
</head>
<body>
    <nav>
        <a href="../templates/index.html"> <img src= "../static/logo.png"></a>
        <div class="nav-links">
            <!-- <i class="fa-solid fa-xmark"></i> -->
            <ul>
                <li><a href='../templates/home.html'>Home</a></li>
                <li><a href='../templates/home.html'>About Us</a></li>
                <li><a href='../templates/home.html'>Contact</a></li>
            </ul>
        </div> 
        <!-- <i class="fa-solid fa-bars"></i> -->
    </nav>
<div class="container">
    <h1>Loan Navigator</h1>
    <form action="/submit" method="POST">
        <div class="formgroup">
            <label for="loan_amnt">Loan Amount:</label>
            <input type="text" id="loan_amnt" name="loan_amnt">
        </div>
        <div class="formgroup">
            <label for="selected_interest">Interest Rate:</label>
            <input type="text" id="selected_interest" name="selected_interest">
        </div>
        <div class="formgroup">
            <label for="year">Experience in current business:</label>
            <input type="text" id="year" name="year">
        </div>
        <div class="formgroup">
            <label for="turnover">Yearly Turnover:</label>
            <input type="text" id="turnover" name="turnover">
        </div>
        <div class="formgroup">
            <label for="family_inc">Net Income:</label>
            <input type="text" id="family_inc" name="family_inc">
        </div>
        <div class="Calculate">
         <button>Calculate</button>
        </div>
    </form>    
</div>
</body>
</html>
